<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799659358003-talhck0snm65lmm82qql05f8bespgoj2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799659358003-talhck0snm65lmm82qql05f8bespgoj2</string>
	<key>API_KEY</key>
	<string>AIzaSyD76f2YK9-cO4ICUM_GVMRiGY1bLcL3dCI</string>
	<key>GCM_SENDER_ID</key>
	<string>799659358003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ebott.containTheCorona</string>
	<key>PROJECT_ID</key>
	<string>contain-the-corona</string>
	<key>STORAGE_BUCKET</key>
	<string>contain-the-corona.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:799659358003:ios:8fcf53562ded4ea4d93046</string>
	<key>DATABASE_URL</key>
	<string>https://contain-the-corona.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
</dict>
</plist>
